# dependencies
node_modules

# build outputs
.next
dist
out
build

# local env files
.env
.env.local
.env.*.local

# database
*.db
*.sqlite
*.sqlite3
# logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# temp
tmp
temp
